* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

.container {
  display: flex;
  height: 100vh;
}

.sideBar {
  display: flex;
  flex-direction: column;
  flex-basis: 150px;
  background-color: black;
}

.sideBar-item {
  border-bottom: 1px solid #5C5C5C;
  padding-left: 1.6rem;
  padding-top: 1.4rem;
  padding-bottom: 1.1rem;
  color: #AAAAAA;
  text-decoration: none;
}

.sideBar-item:hover {
  background-color: #5C5C5C;
  color: white;
}

.sideBar-item--actived {
  color: white;
}

.burger {
  margin: 1rem;
  position: absolute;
  right: 0;
}

.sideBar--visible {
  height: 100% !important;
}

.sideBar--visible > .sideBar-item {
  padding-left: 3.6rem;
  padding-top: 3.4rem;
  padding-bottom: 3.1rem;
  font-size: 2.6rem;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem 13rem 0;
  height: 100%;
  overflow: auto;
}

.content-description {
  margin-top: 3rem;
  padding: 3.8rem;
  background-color: #EFEFEF;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.content-description h1 {
  font-size: 1.8rem;
  font-weight: 700;
}

.content-description p {
  max-width: 97.6rem;
}

.features {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5rem;
}

.features-item h1 {
  font-size: 1.8rem;
  font-weight: 700;
}

.features-item img {
  float: left;
}

.footer {
  flex-basis: 8rem;
  border-top: 1px solid #DEDEDE;

  display: flex;
  padding-left: 13rem;
  align-items: center;
}

/* reponsive */
@media only screen and (max-width: 1199px) {
  .features {
    flex-direction: column;
    gap: 0;
  }
}

@media only screen and (max-width: 649px) {
  .sideBar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    height: 0;
    overflow: hidden;
    transition: height 0.2s;
  }

  .sideBar-item {
    padding-left: 3.6rem;
    padding-top: 3.4rem;
    padding-bottom: 3.1rem;
    font-size: 2.6rem;
  }

  .content {
    padding: 2rem 0 0;
  }

  .features {
    padding: 0 3.8rem;
  }

  .footer {
    padding: 0 3.8rem;
  }

  .burger {
    display: inline-block;
  }
}